.wishlist-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr)); /* Responsive columns */
  gap: 20px; /* Adjust spacing */
  padding: 20px 30px;
}

.wishlist-container {
  padding: 20px;
}

.wishlist-title-new{
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

.empty-message {
  font-size: 22px;
  color: gray;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.wishlist-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.wishlist-icon.filled {
  color: red;
}

.wishlist-remove-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: red;
  cursor: pointer;
  transition: color 0.3s ease;
}

@media (max-width: 430px){
  .wishlist-grid{
   display: grid;
   grid-template-columns: repeat(2, minmax(150px, 1fr)); 
   padding: 15px;
   column-gap: 10px; 
   row-gap: 15px; 
 }
 .wishlist-container {
   margin: 25% auto 0 auto;  
   padding: 10px; /* Reduce padding */
 }
 .wishlist-icon {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 20px;
   color: white;
   cursor: pointer;
   transition: color 0.3s ease;
 }
 .wishlist-title-new{
   margin-top: -5%;
 }
}

@media (max-width: 414px){
  .wishlist-grid{
   display: grid;
   grid-template-columns: repeat(2, minmax(150px, 1fr)); 
   padding: 15px;
   column-gap: 10px; 
   row-gap: 15px; 
 }
 .wishlist-container {
   margin: 25% auto 0 auto;  
   padding: 10px; /* Reduce padding */
 
 }
 .wishlist-icon {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 20px;
   color: white;
   cursor: pointer;
   transition: color 0.3s ease;
 }
 .wishlist-title-new{
   margin-top: -5%;
 }
}

@media (max-width: 390px){
  .wishlist-grid{
   display: grid;
   grid-template-columns: repeat(2, minmax(150px, 1fr)); 
   padding: 15px;
   column-gap: 10px; 
   row-gap: 15px; 
 }
 .wishlist-container {
   margin: 25% auto 0 auto; /* Adjust margin for better spacing */
   padding: 10px; /* Reduce padding */
 }
 .wishlist-icon {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 20px;
   color: white;
   cursor: pointer;
   transition: color 0.3s ease;
 }
 .wishlist-title-new{
   margin-top: -5%;
 }
}

@media (max-width: 375px){
   .wishlist-grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr)); 
    padding: 15px;
    column-gap: 10px; 
    row-gap: 15px; 
  }
  .wishlist-container {
    margin: 25% auto 0 auto; 
  }
  .wishlist-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .wishlist-title-new{
    margin-top: -5%;
  }
}